* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../../assets/img/lanzarote-s-1713674887-jpg--90575-.jpeg);
    background-position: cover;
    background-repeat: no-repeat;
}

div {
    max-width: 300px;
    margin: 5% auto;
}

img {
    width: 250px;
    height: 250px; 
    /* display: block; */
    object-fit: cover;
    padding: 10px;
    object-position: 90% 10%;
}